.output table {
    --border-color: #00000080;
    --head-color: #C7DDFE;

    text-align: center;
}

.dark .output table {
    --border-color: #ffffff80;
    --head-color: #0A3271;
}

.output {
    width: 100%;
    max-width: 1000px;
}

table.subnets {
    border-collapse: collapse;
}

table.subnets thead {
    background-color: var(--head-color);
}

table.subnets th, table.subnets td {
    padding: 0.3em 0.5em;
}

table.subnets, table.subnets th, table.subnets td {
    border: 2px solid var(--border-color);
}


/*===================== Responsive =======================*/

@media (max-width: 800px) {
    table.subnets {
        display: flex;
        overflow-x: auto;
        justify-content: left;
        border-spacing: 0;
        white-space: nowrap;
    }

    table.subnets thead {
        position: sticky;left: 0px;
        float: left;
        border-top: none;
        border-bottom: none;
        border-left: none;
        border-right: 10px double var(--border-color);
    }

    table.subnets tr {
        display: inline-block;
    }

    table.subnets th + th, table.subnets td + td {
        border-top: 3px solid var(--border-color);
    }

    table.subnets tbody tr {
        border-right: 3px solid var(--border-color);
    }
    
    table.subnets th, table.subnets td {
        display: block;
        text-align: left;
        border: 0px 5px 5px 5px solid var(--border-color);
    }
}

/*================================*/