th, td {
  padding: 5px;  
  text-align: center;
}

.oi:empty:before {
    position: relative;
    top: 1px;
    left: 1px;
}

.output {
    width: 100%;
    max-width: 1000px;
}

::deep .failed {
    color: red;
}

.success {
    color: green;
}

::deep table.subnets input {
    width: 100%;
}

.number-subnets {
    margin: 10px 0;
    text-align: center;
}

::deep .number-subnets input {
    width: 4em;
}