th, td {
  padding: 5px;
  text-align: left;
  
  text-align: center;
}

.failed {
    /*color: red;*/
}

.failed td {
    background-color: #ff000045;
}

.output {
    width: 100%;
    max-width: 1000px;
}