th, td {
  padding: 5px;
  text-align: left;
  
  text-align: center;
}

.failed {
    /*color: red;*/
}

.failed td {
    background-color: #ff000045;
}

.output {
    width: 100%;
    max-width: 1000px;
}

::deep table.subnets input {
    width: 100%;
}

/* TODO */
div.addSubnetButton {
    margin: 10px 0;
    text-align: right;
}