<table>
    <thead>
        <tr>
            @foreach (string title in Titles)
            {
                <th>@title</th>
            }
        </tr>    
    </thead>
    <tbody>
        @foreach (Row row in Rows)
        {
            <tr class="@row.CssClass">
                @foreach (object column in row.Columns)
                {
                    <td>@column</td>
                }
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter] public IEnumerable<string> Titles { get; set; }
    [Parameter] public IEnumerable<Row> Rows { get; set; }

    public class Row
    {
        public IEnumerable<object> Columns { get; init; }
        public string CssClass { get; init; }
    }
}
