nav {
    color: white;
}

section.navbar {
    --header-height: 3.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 65px;
    gap: 10px;
    background-color: var(--app-color);
    font-size: 1.4em;
    font-weight: bold;
}

section.navbar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

section.navbar button {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    color: inherit;
    border: 0;
    font-size: 18pt;
}

::deep button .oi-moon {
    top: -2px;
}

::deep .nav-toggler {
    height: 36px;
    width: 40px;
}

::deep .icon-burguer {
    --line-height: 2px;

    padding: 8px;
}

section.navList {
    position: fixed;
    height: 100%;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--app-color);
    font-size: 1.15em;
    font-weight: bold;
}

section.navList.hide {
    transform: translate(-100%);
}

::deep section.navList a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 10px;
    height: 2.5em; 
    border-radius: 5px;
    background-color: #ffffff1a;
    text-decoration: none;
    color: inherit;
}

::deep section.navList a:hover {
    text-decoration: none;
    color: inherit;
    background-color: #ffffff5d;
}

::deep section.navList a.active {
    text-decoration: none;
    color: inherit;
    border: 2px solid;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: #00000044;
}

.background.hide {
    display: none;
}

section.navList, background {
    transition: transform .25s;
}

.pointer:hover {
    transform: scale(1.2);
    cursor: pointer;
}