nav {
    color: white;
}

header {
    --header-height: 3.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 65px;
    gap: 10px;
    background-color: var(--app-color);
    font-size: 1.5rem;
    font-weight: bold;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

header button {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    color: inherit;
    border: 0;
    font-size: 18pt;
}

::deep button .oi-moon {
    top: -2px;
}

::deep .nav-toggler {
    height: 36px;
    width: 40px;
}

::deep .icon-burguer {
    --line-height: 2px;

    padding: 8px;
}

section {
    position: fixed;
    height: 100%;
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
    background-color: var(--app-color);
    font-size: 1.15em;
    font-weight: bold;
}

section.hide {
    transform: translate(-100%);
}

::deep section a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 10px;
    height: 2.5em; 
    border-radius: 5px;
    background-color: #ffffff1a;
    text-decoration: none;
    color: inherit;
}

::deep section a:hover {
    text-decoration: none;
    color: inherit;
    background-color: #ffffff5d;
}

::deep section a.active {
    text-decoration: none;
    color: inherit;
    border: 2px solid;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    background-color: #00000044;
}

.background.hide {
    display: none;
}

section, background {
    transition: transform .25s;
}

.pointer:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/*.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
   /*     display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
      /*  height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
*/