:root {
    --app-color: RoyalBlue;
    --bg-color: white;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    transition-property: background-color, color;
    transition-duration: 0.25s;

    background-color: var(--bg-color);
    color: black;
}

.dark {
    --app-color: DarkBlue;
    --bg-color: #333333;

    color: white;
}

/*
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}
*/

.validation-message {
    color: red;
}

/*========= Initial loading progress ===========*/

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1b6ec2;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

/*============== Net Pages ==============*/

section .title {
    text-align: center;
    margin-bottom: 12px;
}

section.input {
    margin-top: 10px;
}

section.input input[type="submit"] {
    display: block;
    margin: 10px auto 0px;
}

section.output {
    margin-top: 40px;
}

table input[type="text"], table input[type="number"] {
    width: 100%;
}

table {
    --border-color: #00000080;
    --head-color: #C7DDFE;

    width: 100%;
}

.dark table {
    --border-color: #ffffff80;
    --head-color: #0A3271;
}

table th {
    background-color: var(--head-color);
}

table.subnets th, table.subnets td {
    border: 2px solid var(--border-color);
}

input[type="submit"] {
    font-weight: bold;
}

/* =========== Responsive =========== */

@media (max-width: 550px) {
    html, body {
        font-size: 95%;
    }
}

/* =================================== */