:root {
    --app-color: RoyalBlue;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, .override {
    transition-property: background-color, color;
    transition-duration: 0.25s;

    background-color: white;
    color: black;
}

.dark {
    --app-color: DarkBlue;
}

.dark, .dark .override {
    background-color: #333333;
    color: white;
}

/*============== Net Pages ==============*/
section .title {
    text-align: center;
    margin-bottom: 12px;
}

section.input {
    margin-top: 10px;
}


section.input input[type="submit"] {
    display: block;
    margin: 10px auto 0px;
}

section.output {
    margin-top: 40px;
}

table input[type="text"], table input[type="number"] {
    width: 100%;
}


table {
    --border-color: #00000080;
    --head-color: #C7DDFE;

    width: 100%;
}

.dark table {
    --border-color: #ffffff80;
    --head-color: #0A3271;
}

table th {
    background-color: var(--head-color);
}

table.subnets th, table.subnets td {
    border: 2px solid var(--border-color);
}


/* =========== Responsive =========== */

@media (max-width: 550px) {
    html, body {
        font-size: 95%;
    }
}

/* =================================== */